.block.details-property {
    margin-bottom: var(--spacing-md);
    padding: var(--spacing-sm) 0;
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.block.details-property:last-child {
    border-bottom: none;
}

.block.details-property label {
    display: block;
    font-weight: 600;
    font-size: var(--body-font-size-s);
    color: var(--text-color);
    margin-bottom: var(--spacing-xs);
}

.block.details-property span {
    display: block;
    font-size: var(--body-font-size-s);
    color: var(--dark-color);
}

.block.details-property.pill span {
    display: inline-block;
    padding: var(--spacing-xs) var(--spacing-sm);
    background-color: var(--light-color);
    color: var(--text-color);
    font-size: var(--body-font-size-xs);
    font-weight: 500;
    text-transform: uppercase;
    border: var(--border-width) var(--border-style) var(--border-color);
}