.block.search-statistics {
    padding: var(--spacing-sm) 0;
}

.block.search-statistics .search-statistics__count {
    margin: 0;
    font-size: var(--body-font-size-s);
    color: var(--color-muted-fg);
}
