.block.details-actions {
    margin: var(--spacing-md) 0;
}

.block.details-actions .details-actions__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
    align-items: center;
}
