footer {
    background-color: var(--color-muted);
    font-size: var(--body-font-size-xs);

    .footer > div {
        margin: auto;
        max-width: var(--section-max-width);
        padding: 40px 24px 24px;
    }

    .footer p {
        margin: 0;
    }
}

@media (width >= 900px) {
    footer .footer > div {
        padding: 40px 32px 24px;
    }
}

